<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>updating Student data</title>
</head>
<body>
	<h2>Update Student data :</h2>
	<form action="/updateStudent" method="Post">
		<label>Roll No : </label><br/>
		<input type="text" name="rollNo"  required="required"/><br/>
		<label>Name : </label><br/>
		<input type="text" name="name"  required="required"/><br/>
		<label>Marks : </label><br/>
		<input type="number" name="marks"  required="required"/><br/><br/>
		<input type="submit" value="Update Student" /> 
	</form>
</body>
</html>